body,
h1,
h2,
h3,
p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

p {
  font-size: 1.25rem;
}

body {
  display: grid;
  gap: 2.5rem;
  background: #f7f7f7;
}

.titulo {
  margin: 4.375rem 0px;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  margin: 1.875rem 1.5rem;
}

.menu a {
  margin-top: 2.5rem;
  text-decoration: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #000000;
  background: #ffffff;
  border: 2px solid #fff;
  border-radius: 4px;
}

.menu a:hover {
  border: 2px solid red;
}

.conteudo {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 2fr));
  max-width: 62.5rem;
  margin: 0 auto;
}

.info {
  position: relative;
  display: grid;
  text-align: right;
  align-content: center;
  justify-items: end;
  padding: 2rem;
  gap: 1.25rem;
  background: white;
}

.info::after {
  content: "";
  height: 4px;
  width: 3.75rem;
  background: red;
  display: block;
  position: absolute;
  top: 2.5rem;
  right: -2rem;
}

.conteudo-titulo {
  font-size: 2rem;
}

.conteudo-texto {
  font-size: 1.25rem;
}

.conteudo-botao {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: white;
  border-radius: 4px;
  background: #ee2211;
  align-self: end;
}

.cover img {
  height: 100%;
  object-fit: cover;
}

.conteudo-botao:hover {
  background: #900;
}

.vantagens {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: right;
  font-weight: 600;
  color: #c6c6c6;
  align-self: center;
  padding: 1.875rem;
  background: url("../img/onda.svg");
}

.caracteristicas {
  display: flex;
  flex-direction: column;
  padding: 3.125rem;
  background: white;
}

.caracteristicas-grid:nth-child(odd) {
  background: #f7f7f7;
}

.caracteristicas-grid {
  display: flex;
  padding: 1.25rem;
  gap: 1.25rem;
}

.caracteristicas-grid:hover {
  border-left: 4px solid #e21;
}

.caracteristicas-grid img {
  align-self: start;
}

.caracteristica-titulo {
  margin-bottom: 1rem;
}

.rodape {
  background: white;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .menu a {
    margin: 0;
    display: inline-block;
  }

  .conteudo-titulo {
    font-size: 250%;
  }

  .conteudo {
    grid-template-columns: 1fr;
  }

  .conteudo-botao {
    justify-self: end;
  }

  .info {
    text-align: left;
    justify-items: left;
    padding: 3.75rem;
  }

  .info::after {
    display: none;
  }

  .vantagens {
    text-align: center;
    padding: 10rem;
    background: url("../img/onda.svg");
  }

  .caracteristicas-grid {
    padding: 2.25rem;
  }

  .rodape {
    margin-top: 4rem;
  }
}
